.footer {
    @extend .header;
    
}

    .footer-container {
        @extend .header-container;
        max-height: 90px;
    }

        .nav {
            width: 353px;
        
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 163px 95px 95px;

            .nav-btn {
                display: flex;
                justify-content: space-between;
                width: 163px;
                height: 23px;
                @include fontsize18();
                
            }
        
        
            }

            .nav-socialmedia {
            display: grid;
            grid-column-start: 3;
            display: flex;
            justify-content: space-between;
            align-self: center;

            img {
                height: 15px;
                width: 15px; 
                align-self: center;
                transform: translateY(2px);
            }

            i {
                    font-size: 10px;
                    color: black;
                    transform: scale(1.6, 1.6);
                    
            }
                    
            }
            
            