.header, .footer {
  display: flex;
  justify-content: center;
}

.header-container, .footer-container {
  width: 1109px;
  height: 122px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-div {
  border-radius: 8px;
  width: 90px;
  height: 19px;
}

.nav-btn {
  display: flex;
  justify-content: space-between;
  width: 163px;
  height: 23px;
}

.index-main-grid-container {
  width: 1110px;
  display: grid;
  grid-template-columns: 1110px;
  grid-template-rows: 182px 251px 144px 1960px 91px 106px 101px 823px 94px;
}

.shootingstars {
  display: grid;
  grid-row: 2;
  grid-template-columns: 635px 475px;
}

.shootingstars-left {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-weight: 700;
}

.shootingstars-left .p1 {
  font-size: 22px;
  line-height: 28px;
  letter-spacing: -0.4230768979px;
  color: #4a4ff2;
}

.shootingstars-left2 {
  height: 191px;
}
.shootingstars-left2 .p2 {
  font-size: 40px;
  line-height: 60px;
}
.shootingstars-left2 .p2 :nth-child(1) {
  color: #4a4ff2;
}

.shootingstars-right {
  transform: translateX(57px);
  margin-bottom: 23px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 23px;
}
.shootingstars-right p {
  opacity: 0.6;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.gallery {
  display: grid;
  grid-row-start: 4;
}

.gallery-container {
  display: flex;
  justify-content: space-between;
  height: 1960px;
  width: 1110px;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 357px;
}

.mid {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  align-items: flex-end;
}

.service-list {
  transform: translateX(1px);
  display: grid;
  grid-row-start: 6;
  grid-template-columns: 635px 494px;
}

.service-list-left {
  font-family: "Mulish", sans-serif;
  color: black;
  font-style: normal;
  font-size: 28px;
  line-height: 38px;
  font-weight: bold;
  height: 106px;
}

.service-list-right {
  display: flex;
  justify-content: space-between;
}
.service-list-right div:nth-child(1) {
  transform: translateX(94px);
}
.service-list-right div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 106px;
  width: 180px;
  font-size: 18px;
  line-height: 22.59px;
  letter-spacing: 0px;
}
.service-list-right div p {
  opacity: 0.6;
}

.awards {
  display: grid;
  grid-row-start: 8;
  grid-template-rows: 50px repeat(4, 25%);
  font-size: 18px;
}

.marginbox {
  height: 50px;
  display: grid;
  grid-row-start: 10;
}

.awards-container1 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 24px 12px 1fr;
  grid-row-start: 2;
  grid-row-end: span(1);
  position: relative;
}

.awards-container2 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 24px 12px 1fr;
  grid-row-start: 3;
  grid-row-end: span(1);
}

.awards-container3 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 24px 12px 1fr;
  grid-row-start: 4;
  grid-row-end: span(1);
}

.awards-container4 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 24px 12px 1fr;
  grid-row-start: 5;
  grid-row-end: span(1);
  position: relative;
}

.awards-container {
  display: grid;
  grid-row-start: 2;
}

.awards-1 {
  display: grid;
  grid-column: 1/3;
  align-self: flex-end;
  font-weight: bold;
  font-size: 22px;
  line-height: 27.61px;
}

.awards-2 {
  display: grid;
  grid-column: 6/8;
  font-size: 18px;
  line-height: 22.59px;
  letter-spacing: 0px;
  align-self: center;
  font-weight: bold;
}

.awards-3 {
  display: grid;
  grid-column: 9/span 2;
  font-size: 16px;
  line-height: 20px;
  align-self: center;
}

.awards-3-2 {
  display: grid;
  grid-column: 9/span 2;
  grid-row: 3;
  width: 200px;
}
.awards-3-2 p {
  opacity: 0.6;
  line-height: 26px;
  font-size: 16px;
}

.awards-4 {
  display: grid;
  grid-column: 12;
  justify-self: flex-end;
  align-self: flex-end;
}

.stroke {
  position: absolute;
  transform: translateY(-50px);
}

.stroke-last {
  position: absolute;
}

.project-main-grid-container {
  width: 1110px;
  display: grid;
  grid-template-columns: 1110px;
  grid-template-rows: 222px 343px 61px 660px 45px 93px 45px 400px 109px;
}

.freshtitle {
  display: grid;
  grid-row: 2;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(5, 20%);
}

.project-header {
  display: grid;
  grid-row: 1;
  width: 475px;
  font-size: 40px;
  line-height: 55px;
  font-weight: bold;
  transform: translate(-10px, -28px);
}

.project-text {
  display: grid;
  grid-row: 3;
  grid-column: 1/span(4);
  width: 635px;
  font-size: 16px;
  line-height: 26px;
  font-weight: normal;
}

.project-right {
  display: grid;
  justify-self: flex-end;
  width: 335px;
  grid-template-rows: repeat(6, 42px);
  grid-template-columns: 137px 1fr;
  grid-row-gap: 18px;
  grid-column: 3;
}
.project-right p {
  font-size: 18px;
  line-height: 22.59px;
  letter-spacing: 0px;
  font-weight: bold;
}

.project-right-p1 {
  opacity: 0.5;
}

.stroke2 {
  position: absolute;
}

.project-picture {
  display: grid;
  grid-row: 4;
}

.project-section3 {
  display: grid;
  grid-row: 6;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400px;
}

.project-3pictures {
  display: grid;
  grid-row: 8;
  display: flex;
  justify-content: space-between;
}

.contact-main-grid-container {
  width: 1110px;
  display: grid;
  grid-template-columns: 1110px;
  grid-template-rows: 194px 312px 120px 570px 89px;
}

.fullset {
  display: grid;
  grid-row: 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.fullset-left {
  height: 312px;
}

.contact-header {
  width: 475px;
  height: 174px;
  font-size: 40px;
  line-height: 55px;
  font-weight: bold;
}

.contact-text {
  margin-top: 22px;
  width: 445px;
  height: 100px;
  font-size: 16px;
  line-height: 26px;
  font-weight: normal;
}

.contact-form {
  height: 291px;
  width: 475px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.insert {
  width: 459px;
  height: 37px;
  display: flex;
  align-content: flex-start;
  position: relative;
  border-bottom: #D8D8D8 solid 1px;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}
.insert label {
  position: absolute;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  cursor: text;
  position: absolute;
  width: 100%;
  height: 31px;
}
.insert input {
  width: 400px;
  height: 31px;
  border: transparent;
  margin-left: 80px;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  outline: none;
}

.btn {
  width: 125px;
  height: 50px;
  background: #4a4ff2;
  border: none;
}
.btn p {
  color: white;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}

.map {
  display: grid;
  grid-row: 4;
}

.footer-container {
  max-height: 90px;
}

.nav {
  width: 353px;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 163px 95px 95px;
}
.nav .nav-btn {
  display: flex;
  justify-content: space-between;
  width: 163px;
  height: 23px;
  font-size: 18px;
  line-height: 22.59px;
  letter-spacing: 0px;
}

.nav-socialmedia {
  display: grid;
  grid-column-start: 3;
  display: flex;
  justify-content: space-between;
  align-self: center;
}
.nav-socialmedia img {
  height: 15px;
  width: 15px;
  align-self: center;
  transform: translateY(2px);
}
.nav-socialmedia i {
  font-size: 10px;
  color: black;
  transform: scale(1.6, 1.6);
}

body {
  max-width: 1360px;
  display: block;
  justify-content: center;
  flex-direction: row;
}
body p {
  font-family: "Mulish", sans-serif;
  color: black;
  font-style: normal;
}

.main {
  display: flex;
  justify-content: center;
}/*# sourceMappingURL=index.css.map */