@import './header';
@import './main';
@import './main-project';
@import './main-contact';
@import './fonts';
@import './footer';


@mixin font {
    font-family: 'Mulish', sans-serif;
    color: black;
    font-style: normal;
}

@mixin fontsize18 {
    font-size: 18px;
    line-height: 22.59px;
    letter-spacing: 0px;
}


body {
    max-width: 1360px;
    display: block;
    justify-content: center;
    flex-direction: row;

    p {
        @include font();
    }
}
    .main {
        display: flex;
        justify-content: center;
    }


