@import './header';
@import './main';
@import './fonts';


body {
    max-width: 1360px;
    display: block;
    justify-content: center;
    flex-direction: row;

    p {
        @include font();
    }
}



